body {
    font-family: "Poppins";
    color: #120030;
}



h1 {
    font-family: "JetBrains Mono";
    font-size: 5rem;
    color: white;
}

h3 {
    font-family: "JetBrains Mono";
    font-size: 2rem;
}

p, ul, li {
    font-family: "Poppins";
}
